# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
gradle
libs
target
config.yml
src/main/java/net/simplyrin/pandaentus/utils/Version.java
